@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');


* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  width: 100%;

  background-color: #19191b;

}

nav ul li {
  font-family: 'Nunito Sans', sans-serif;
}

.build {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=5555d4&c2=19191b&gt=r&gd=dcc
*/
/* background: #5555D4;
background: radial-gradient(at center, #5555D4, #19191B); */

/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=7b83d5&c2=19191b&gt=r&gd=dcc
*/
/* background: #7B83D5;
background: radial-gradient(at center, #7B83D5, #19191B); */
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=5555d4&c2=19191b&gt=r&gd=dcl
*/
/* background: #5555D4;
background: radial-gradient(at left center, #5555D4, #19191B); */

background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.19) 53.65%, rgba(84, 84, 212, 0.11) 100%);

}

.services {
background: linear-gradient(180deg, rgba(84, 84, 212, 0.20) 0%, rgba(84, 84, 212, 0.08) 100%);


}
.contact {
  background: #1E1E2080;
}
.footer {
  background-color: #19191b;

}
/* background: #1E1E2080; */


/* hamburger */
.checkbox {
  display: none;
}

.button {
  position: relative;
  background-color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: -6px;
  right: 5vw; 
  z-index: 2000;
  box-shadow: 0 1rem 3rem black;
  text-align: center; 
  cursor: pointer;
  margin-top: 20px;
}

.background {
  margin-top: 20px;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: -6px;
  right: 5.5vw; 
  background-image: radial-gradient(#19191b,#5454d4);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.item {
  margin: 1rem;
  font-size: 36px;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: lightgreen;
  cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button:hover icon:before {
  top: -1rem;
}
.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}



.right-arrow:hover {
  transform: rotate(-45deg);
}